<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>recupero Password</title>
  </head>
  <body>
    <form
      th:action="@{/creaPassword/{utenteID}(utenteID=${utente.uid})}"
      method="post"
    >
      <label for="pwd1">nuova passowrd</label>
      <input type="password" id="pwd1" />
      <br />
      <br />
      <label for="pwd2">conferma password</label>
      <input type="password" id="pwd2" name="password" />
      <br />
      <br />
      <input type="submit" value="conferma" onclick="checkPassword()" />
      <p></p>
    </form>
  </body>
  <script>
    function checkPassword() {
      let x = document.getElementById("pwd1").value;
      let y = document.getElementById("pwd2").value;

      if (x !== y) {
        document.getElementById("testo").innerHTML =
          "i due password non coincidono";
      }
    }
  </script>
</html>
