<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SowBook</title>
  </head>
  <style>
    body {
      background-color: #002747;
      margin: 0;
      padding: 0;
      height: 100vh;
      overflow: hidden;
    }
    .flex {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h1 {
      text-align: center;
      color: white;
    }

    h2 {
      text-align: center;
      color: white;
    }
  </style>
  <body>
    <article class="flex">
      <div>
        <h1>Benvenuto a sowBook</h1>
        <h2>CONTROLLA LA TUA EMAIL</h2>
      </div>
    </article>
  </body>
</html>
